# Exclude #
###########


### Folders
*.config
*.manifest
obj/
Plugins/
bin/
.vs/

### Binaries
*.dat
*.exe
*.dll
*.xml

### VS crap
*.pdb
*.suo

### ReSharper settings
/AnotherSc2Hack/bin
*.suo
.vs/AnotherSc2Hack/v14/.suo
.vs/AnotherSc2Hack/v14/.suo
